%h1 Morris
%label{ for: 'p1-move' }Player 1
%input{ type: 'text', id: 'p1-move', name: 'p1-move' }
%input{ type: 'submit', value: 'Move', id: 'p1-play', name: 'p1-play' }
%label{ for: 'p2-move' }Player 2
%input{ type: 'text', id: 'p2-move', name: 'p2-move' }
%input{ type: 'submit', value: 'Move', id: 'p2-play', name: 'p2-play' }
%br
%br
=haml(:board, id: 'board', layout: false, locals: { control: control })
